{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/all",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended",
    "airbnb"
  ],
  "rules": {
    "react/jsx-filename-extension": [
      "warn",
      { "extensions": [ ".js", ".jsx" ] }
    ],
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off"
  }
}

