{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:jest/recommended",
    "plugin:jest/style",
    "plugin:jest-dom/recommended",
    "plugin:testing-library/react",
    "prettier"
  ],
  "rules": {
    "react/jsx-filename-extension": [
      "warn",
      { "extensions": [ ".js", ".jsx" ] }
    ],
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off"
  }
}

